section {
  .heading,
  .heading + .text {
    margin-bottom: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: var(--section-vertical-spacing);
  }
}

.container {
  margin: 0 auto;
  max-width: 110rem;
}

.btn {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.6rem;

  &--primary,
  &--outline,
  &--colored {
    border: 1px solid rgba(#fff, .8);
    border-radius: .75rem;
    padding: .75rem;
    display: flex;
    align-items: center;
    transition: all .3s ease;
  }

  &--colored {
    background: var(--color-pink);
    border-color: var(--color-pink);
    color: #fff;
    padding: .75rem 1.65rem;

    &:hover,
    &:focus {
      background: var(--color-pink-dark);
      border-color: var(--color-pink-dark);
    }
  }

  &--outline {
    &:hover,
    &:focus {
      background: var(--color-dark);
      border-color: #fff;
    }
  }

  &--colored#{&}--outline {
    &:hover,
    &:focus {
      border-color: #fff;
      background: var(--color-pink-dark);
    }
  }

  &--arrow {
    svg {
      transform-origin: center;
      transition: transform .3s ease;
    }

    &:hover,
    &:focus {
      svg {
        transform: rotate(45deg);
      }
    }
  }

  &--primary {

    &:hover,
    &:focus {
      background: var(--color-dark);
      border-color: var(--color-dark);
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    margin-right: .75rem;
  }
}

.btn-group {
  display: flex;
  align-items: center;

  *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.link {
  font-size: 1.6rem;

  &:hover,
  &:focus {
    color: #fff;

    svg { fill: #fff; }
  }
}

.input-group {

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input-wrapper {
    display: flex;
    background: var(--color-dark);
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    
    svg {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1.5rem;
    }
  }
  
  &__input {
    min-width: 40rem;
    max-width: 100%;
    padding: 1.5rem;
    color: #fff;
    padding-left: 4.5rem;
    border: 1px solid rgba(#fff, .2);
    border-radius: .75rem;

    &:hover,
    &:focus {
      border-color: var(--color-grey-light);
    }
  }
}