.container {
  margin: 0 auto;
  max-width: 110rem;
}

.btn {
  cursor: pointer;
  font-size: 1.6rem;

  &--primary,
  &--outline,
  &--colored {
    border: 1px solid rgba(#fff, .8);
    border-radius: .75rem;
    padding: .75rem;
    display: flex;
    align-items: center;
    transition: all .3s ease;
  }

  &--colored {
    background: var(--color-pink);
    border-color: var(--color-pink);
    color: #fff;
    padding: .75rem 1.65rem;
  }

  &--outline {
    &:hover,
    &:focus {
      background: var(--color-dark);
      border-color: #fff;
    }
  }

  &--arrow {
    svg {
      transition: transform .3s ease;
    }

    &:hover,
    &:focus {
      svg {
        transform: rotate(45deg);
      }
    }
  }

  &--primary {

    &:hover,
    &:focus {
      background: var(--color-dark);
      border-color: var(--color-dark);
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    margin-right: 1rem;
  }
}

.btn-group {
  display: flex;
  align-items: center;

  *:not(:last-child) {
    margin-right: 1.5rem;
  }
}