.spotlight {
  color: hsla(0,0%,100%,.08);
  -webkit-background-clip: text;
  background-image: radial-gradient(closest-side, rgba(255,255,255,.3) 30%, transparent 70%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}