.services {


  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .card {
    padding: 2.5rem;
    border-radius: 1.75rem;
    border: 1px solid transparent;
    position: relative;
    transition: border-color .4s ease;

    &:hover {
      border-color: #fff;
      
      .icon {
        transform: rotate(45deg);
      }
    }
  }

  .cardTitle {
    display: block;
    margin-bottom: 1rem;
  }

  .icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    transition: transform .4s ease;

    svg {
      width: 3.25rem;
      height: 3.25rem;
      fill: #fff;
    }
  }
}